<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layouts/index :: layout(~{::body})}">
<body>
    <div th:fragment="content">
        <div class="container my-5">
            <h1 class="mb-4">
                Todos
            </h1>

            <table class="table table-bordered table-hover table-striped">
                <thead class="thead-dark" th:if="${canShowHeader}">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Is Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="todo : ${todos}">
                        <td th:text="${todo.id}"></td>
                        <td th:text="${todo.title}"></td>
                        <td th:text="${todo.description}"></td>
                        <td th:text="${todo.completed}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
